h1
	a(href="/") Goals
	|  : #{goal.action}

table
	tr
		td Quantity
		td= goal.quantity
	tr
		td Unit
		td= goal.unit
	tr
		td Period
		td= goal.period.name
		
h2 Records

table
	each record in goal.records
		tr
			td
			td= record.date
			td= record.quantity