script(src='/javascripts/goal.js')
link(rel='stylesheet', href='/stylesheets/goal.css')

#header.section
  a(href="/") Goals

#title.section
  h1 #{goal.action} #{goal.quantity} #{goal.unit}

#entry.section
  select#dateSelector
    each d in dates
      option= d.toDateString()
  button -10
  button +10

#progress.section
  h2 
    span Remaining 
    span#remaining= goal.remaining
  //canvas.bar
    
#records.section
  h2
    a.expand +
    span Records

  table.collapser
    each record in goal.records
      tr
        td= record.date.toDateString()
        td= record.quantity
        
#actions.section
  button.delete delete
