script(src='/javascripts/index.js')
h1= title
table
  tr
    th
    th Action
    th Quantity
    th Unit
    th Period
    th Remaining
  each goal in goals
    tr 
      td.expand +
      td
        a(href="/goal/#{goal._id}")= goal.action
      td= goal.quantity
      td= goal.unit
      td= goal.period.name
      td= goal.remaining
    tr.collapser
      td
      td(colspan="6")
        table
          tr
            th Date
            th Quantity
            
          each record in goal.records
            tr
              td= record.date.toDateString()
              td= record.quantity

  tr
    td(colspan="6"): hr
  tr
    td
    td: input#action
    td: input#quantity
    td: input#unit
    td: select#period
      option(value="Year") Year
      option(value="Month") Month
      option(value="Week") Week
      option(value="Day") Day
    td: button#addGoal add goal
